@import URL(https://fonts.googleapis.com/css?family=Cardo);

body  {
  background-color: #fff;
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Cardo',serif;
  padding: 10px;
  width: 100%
  margin:0px;
  padding:0px;
}
ul  {
list-style-type: none;
  margin: 0;
  padding: 5px;


}
li {
  float: right;
}

.header {
  background: url(../images/landing-page.jpg);
  background-position: top left;
  background-size: cover;
}


}
a:link, a:visited  {
  color: #008080;
  background-color: transparent;
  text-decoration: none;

}

a:hover   {
text-decoration: underline;
}


.container {
  position: relative;
  font-family: 'Cardo', serif;
}

.center {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #008080;
  line-height: 20px
}

.aboutme {
  text-align: center;
  color: #008080;
  text-decoration: underline;
  font-size: 18px;



}

h1  {
   font-size:60px;
   font-weight: normal;
   text-align: center;
   line-height: normal;
   margin:1em;
}

h2, h3, h4, h5 {
  color: #008080;
  font-weight: 200;

}

#quote {
  color: #008080;
  padding: 20px;
  font-style: italic;
}

img {
  float: left;
  padding-right: 40px;
