@import URL(https://fonts.googleapis.com/css?family=Cardo);

* {
  margin: 0;
  padding: 0;
}

body  {
  background-color: #fff;
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Cardo',serif;
}

a:link, a:visited  {
  color: #008080;
  background-color: transparent;
  text-decoration: none;

}

a:hover   {
text-decoration: underline;
}

#header {
  background: url(../images/landing-page.jpg);
  height:100vh;
  color: #008080;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding:0px;
}


#links ul {
  border: 0;
  padding: 0;
  margin: 0;
}
#links li {
  list-style: none;
  float:left;
  margin:1em;
}

div.rightlinks {
  float: right;
}

.clearfloats {
  clear:both;
}


.quot {
  margin: 4em;
}


.container {
  position: relative;
  font-family: 'Cardo', serif;
}

.center {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #008080;
  line-height: 20px
}

.aboutme {
  text-align: center;
  color: #008080;
  text-decoration: underline;
  font-size: 18px;



}

h1  {
   font-size:60px;
   font-weight: normal;
   text-align: center;
   line-height: normal;
   margin:1em;
}

h2, h3, h4, h5 {
  color: #008080;
  font-weight: 200;

}

#quote {
  color: #008080;
  padding: 20px;
  font-style: italic;
}

img {
  float: left;
  padding-right: 40px;
